@{
    ViewData["Title"] = "Employee Portal - Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-2">Welcome to Employee Portal</h1>
    <br />
    <br />
    <p>
        Centralised platform to add, modify, manage and delete employees data
    </p>
</div>
