@{
    ViewData["Title"] = "Employee Portal";
}

<br></br>
<h2>@ViewData["Title"]</h2>


<br></br>
<p>WebApplication is used to manage employee data.
    This page is intented to hold privacy details about this website </p>
